.ImageList>main {
    display        : flex;
    flex-wrap      : wrap;
    align-content  : space-around;
    justify-content: space-between;
}

.ImageList>header {
    display        : flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .ImageList>header {
        display       : flex;
        flex-direction: column;
    }
}